.dark-high-contrast {
  --sys-primary: rgb(173 254 255);
  --sys-surface-tint: rgb(128 212 214);
  --sys-on-primary: rgb(0 0 0);
  --sys-primary-container: rgb(124 208 210);
  --sys-on-primary-container: rgb(0 14 14);
  --sys-secondary: rgb(217 245 245);
  --sys-on-secondary: rgb(0 0 0);
  --sys-secondary-container: rgb(173 200 200);
  --sys-on-secondary-container: rgb(0 14 14);
  --sys-tertiary: rgb(234 240 255);
  --sys-on-tertiary: rgb(0 0 0);
  --sys-tertiary-container: rgb(176 196 229);
  --sys-on-tertiary-container: rgb(0 11 29);
  --sys-error: rgb(255 236 233);
  --sys-on-error: rgb(0 0 0);
  --sys-error-container: rgb(255 174 164);
  --sys-on-error-container: rgb(34 0 1);
  --sys-background: rgb(14 20 21);
  --sys-on-background: rgb(221 228 227);
  --sys-surface: rgb(14 20 21);
  --sys-on-surface: rgb(255 255 255);
  --sys-surface-variant: rgb(63 73 73);
  --sys-on-surface-variant: rgb(255 255 255);
  --sys-outline: rgb(232 242 241);
  --sys-outline-variant: rgb(186 197 196);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(221 228 227);
  --sys-inverse-on-surface: rgb(0 0 0);
  --sys-inverse-primary: rgb(0 81 82);
  --sys-primary-fixed: rgb(156 241 242);
  --sys-on-primary-fixed: rgb(0 0 0);
  --sys-primary-fixed-dim: rgb(128 212 214);
  --sys-on-primary-fixed-variant: rgb(0 20 21);
  --sys-secondary-fixed: rgb(204 232 232);
  --sys-on-secondary-fixed: rgb(0 0 0);
  --sys-secondary-fixed-dim: rgb(176 204 204);
  --sys-on-secondary-fixed-variant: rgb(0 20 21);
  --sys-tertiary-fixed: rgb(212 227 255);
  --sys-on-tertiary-fixed: rgb(0 0 0);
  --sys-tertiary-fixed-dim: rgb(180 200 233);
  --sys-on-tertiary-fixed-variant: rgb(0 17 39);
  --sys-surface-dim: rgb(14 20 21);
  --sys-surface-bright: rgb(75 81 81);
  --sys-surface-container-lowest: rgb(0 0 0);
  --sys-surface-container-low: rgb(26 33 33);
  --sys-surface-container: rgb(43 50 50);
  --sys-surface-container-high: rgb(54 61 61);
  --sys-surface-container-highest: rgb(65 72 72);
}
