.light-high-contrast {
  --sys-primary: rgb(0 50 51);
  --sys-surface-tint: rgb(0 105 107);
  --sys-on-primary: rgb(255 255 255);
  --sys-primary-container: rgb(0 82 83);
  --sys-on-primary-container: rgb(255 255 255);
  --sys-secondary: rgb(23 48 48);
  --sys-on-secondary: rgb(255 255 255);
  --sys-secondary-container: rgb(52 78 78);
  --sys-on-secondary-container: rgb(255 255 255);
  --sys-tertiary: rgb(24 45 71);
  --sys-on-tertiary: rgb(255 255 255);
  --sys-tertiary-container: rgb(55 74 102);
  --sys-on-tertiary-container: rgb(255 255 255);
  --sys-error: rgb(96 0 4);
  --sys-on-error: rgb(255 255 255);
  --sys-error-container: rgb(152 0 10);
  --sys-on-error-container: rgb(255 255 255);
  --sys-background: rgb(244 251 250);
  --sys-on-background: rgb(22 29 29);
  --sys-surface: rgb(244 251 250);
  --sys-on-surface: rgb(0 0 0);
  --sys-surface-variant: rgb(218 228 228);
  --sys-on-surface-variant: rgb(0 0 0);
  --sys-outline: rgb(36 46 46);
  --sys-outline-variant: rgb(65 75 75);
  --sys-shadow: rgb(0 0 0);
  --sys-scrim: rgb(0 0 0);
  --sys-inverse-surface: rgb(43 50 50);
  --sys-inverse-on-surface: rgb(255 255 255);
  --sys-inverse-primary: rgb(128 212 214);
  --sys-primary-fixed: rgb(0 82 83);
  --sys-on-primary-fixed: rgb(255 255 255);
  --sys-primary-fixed-dim: rgb(0 57 58);
  --sys-on-primary-fixed-variant: rgb(255 255 255);
  --sys-secondary-fixed: rgb(52 78 78);
  --sys-on-secondary-fixed: rgb(255 255 255);
  --sys-secondary-fixed-dim: rgb(30 55 55);
  --sys-on-secondary-fixed-variant: rgb(255 255 255);
  --sys-tertiary-fixed: rgb(55 74 102);
  --sys-on-tertiary-fixed: rgb(255 255 255);
  --sys-tertiary-fixed-dim: rgb(31 51 78);
  --sys-on-tertiary-fixed-variant: rgb(255 255 255);
  --sys-surface-dim: rgb(180 186 186);
  --sys-surface-bright: rgb(244 251 250);
  --sys-surface-container-lowest: rgb(255 255 255);
  --sys-surface-container-low: rgb(236 242 241);
  --sys-surface-container: rgb(221 228 227);
  --sys-surface-container-high: rgb(207 214 213);
  --sys-surface-container-highest: rgb(193 200 199);
}
