@mixin material-overridings(){

}
.no-subscript {
  --mat-form-field-container-height: 40px;
  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }
  .mat-mdc-form-field-infix{
    padding: 8px 0px;
    min-height: var(--mat-form-field-container-height);
  }
}
.mat-mdc-dialog-title::before{
  display: none !important;
}
.mdc-floating-label--float-above mat-label{
  font-weight: 900;
}
.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper{
  padding: 0 8px !important;
}
