
<div  class="p-4 rounded bg-background text-on-bg-background w-full md:w-52 text-center shadow-md shadow-primary hover:shadow-lg hover:relative hover:translate-y-[-10px] transition-all duration-300">
  <div class="flex flex-col">
    <div class="flex justify-center gap-2 text-lg md:text-2xl text-primary">
      <i [class]="'bi bi-' + wid.icon"></i>
      <p class="text-bold  mb-1">{{wid.text}}</p>
    </div>
    <p class="text-xs md:text-sm">{{wid.secondaryText}}</p>
  </div>
  <!-- <img [src]="wid.image" [alt]="wid.text"  class="object-contain h-4 w-full"> -->
</div>

